In [6]:
name = "Tedi"
address,province= "Jl, Cisaat","7413412"
age = 23
scorePython = 85,7
isMarried = False

print("Nama :",name)
print("Alamat :",address)
print("Umur :",age)
print("Nilai Pemrograman :",scorePython)
print("Status", isMarried)
print("Provinsi:", province)

Nama : Tedi
Alamat : Jl, Cisaat
Umur : 23
Nilai Pemrograman : (85, 7)
Status False
Provinsi: 7413412

In [3]:
print("Tipe data <name> :",type(name))
print("Tipe data <address> :",type(address))
print("Tipe data <age> :",type(age))
print("Tipe data <scorePython> :",type(scorePython))
print("Tipe data <isMarried> :",type(isMarried))

Tipe data <name> : <class 'str'>
Tipe data <address> : <class 'str'>
Tipe data <age> : <class 'int'>
Tipe data <scorePython> : <class 'tuple'>
Tipe data <isMarried> : <class 'bool'>

In [ ]:
#Casting / KOnversi Tipe Data
#1. String ke (int,float,boolean)
strToInt = int(province)
srtToFloat = float(province)
srtToBool = bool(province)
ptint(strToInt + 2,strToFloat,strToBool, sep="-")

#2. Int ke (str,float,boolean)
intToSrt = srt(age)
intToInt = int(age)
intToBool = bool(age)
ptint(intTostr, intToFloat, intToBool, sep="-")

#3. Float ke (int,str, boolean)
floatToSrt = srt(scorepython)
floatToInt = int(scorepython)
floatToBool = bool(scorepython)
ptint(floatToInt, floatTostr, floatToBool, sep="-")

#4. Boolean ke (int, str, float)
boolToInt = int(isMarried)
boolToStr = srt(isMarried)
boolToFloat = float(isMarried)
ptint(boolToInt, boolToStr, boolToFloat, sep="-")

In [8]:
#Tipe Data basis bilangan (desimal,biner,octal,hexa)

desimal = 500
biner = 0b1010 #10
octal = 0o377 #255
hexa = 0xff #255

print("Nilai desimal:",desimal)
print("NIlai biner:",biner)
print("Nilai octal:",octal)
print("Nilai hexa:",hexa)

print("Nilai biner dari ",desimal, ":",bin(desimal))
print("Nilai octal dari ",desimal, ":",oct(desimal))
print("Nilai hexa dari ",desimal, ":",hex(desimal))

Nilai desimal: 500
NIlai biner: 10
Nilai octal: 255
Nilai hexa: 255
Nilai biner dari  500 : 0b111110100
Nilai octal dari  500 : 0o764
Nilai hexa dari  500 : 0x1f4

In [10]:
city = "BANDUNG"
length = len(city)
print(city[0])
print(length)
print(city[length-1])

B
7
G

In [30]:
#Tipe data collection
cities = ["Bandung","Sukabumi","Bogor","Jakarta","Medan"]
lengthCities = len(cities)
print(cities)
print(cities[0])
print(cities[lengthCities-1])
print(cities[lengthCities-1][0])
print(cities[lengthCities-1][len(cities[lengthCities-1])-1])
cities[0] = "Bali"
#cities[5] = "Malang" akan menyebabkan error out of range
print(cities)

names = ("Andi","Febri","Raihan")
print(names)
print(names[1])
#names[0] = "Dedi" error immutable tuple

studentData = {
    "name" : "Robi",
    "age" : 25,
    "address" : {
        "street" : "Cisaat",
        "number" : 21,
        "province" : "jawa Barat"
    },
    "isMarried" :True,
    "hobbies" : ["Basket Ball", "Football"]
}

print(studentData)
print(studentData["age"])
print(studentData["address"]["province"])
print(studentData["hobbies"][0])

SudentList = [
    {
        "name" : "Robi",
        "age" : 25,
        "address" : {
            "street" : "Cisaat",
            "number" : 21,
            "province" : "jawa Barat"
        },
        "isMarried" :True,
        "hobbies" : ["Basket Ball", "Football"]
    },
        {
        "name" : "Dedi",
        "age" : 15,
        "address" : {
            "street" : "Cisaat",
            "number" : 29,
            "province" : "jawa Barat"
        },
        "isMarried" :True,
        "hobbies" : ["Chess", "Singing"]
    }
    
]
print(studentList[1]["address"]["province"])

['Bandung', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
Bandung
Medan
M
n
['Bali', 'Sukabumi', 'Bogor', 'Jakarta', 'Medan']
('Andi', 'Febri', 'Raihan')
Febri
{'name': 'Robi', 'age': 25, 'address': {'street': 'Cisaat', 'number': 21, 'province': 'jawa Barat'}, 'isMarried': True, 'hobbies': ['Basket Ball', 'Football']}
25
jawa Barat
Basket Ball

NameError: name 'studentList' is not defined

In [ ]:
#konversi dictionary

list_list = [["name, "Andi"], ["age", 20], ["status", True]]
dictlitstStudent = dict(list_list)
print(dictlitstStudent)
              
list_Tuple = [("name", "Dedi"), ("address", "Sukabumi")]
dicTupleStudent = dict(list_tuple)
print(dicTupleStudent)
              
Tuple_list = [("name", "Deni"), ("type", "mamalia")]
dicTupleAnimal = dict(list_tuple)
print(dicTupleAnimal)
              
list_Tuple = [("name", "Dandi"), ("type", "Reptile")]
dicTupleAnimal = dict(tuple_tuple)
print(dicTupleAnimal)